<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <img src="{{this.resultCharacter?.thumbnail?.path}}.{{this.resultCharacter?.thumbnail?.extension}}" class="img-fluid">
    </div>

    <div class="col-12 col-md-5">
      <div class="card">
        <div class="card-header">Detail</div>
        <div class="card-body">
          <h4 class="card-title">{{this.resultCharacter?.name}}</h4>
          <hr>
          <h5 class="card-title">Description:</h5>
          <p class="card-text">{{this.resultCharacter?.description || 'N/A'}}</p>
          
          <h5 class="card-title mt-3">Readmore:</h5>
          <span *ngFor="let item of this.resultCharacter?.urls || []">
            <a [href]="item.url" target="_blank">{{item.type}}</a> / 
          </span>

          <h5 class="card-title mt-3">Stories:</h5>
          <ul>
            <li *ngFor="let item of this.resultCharacter?.stories?.items || []">{{item.name}}</li>
          </ul>
          <h5 class="card-title mt-3">Comics:</h5>
          <ul>
            <li *ngFor="let item of this.resultCharacter?.comics?.items || []">{{item.name}}</li>
          </ul>
          <h5 class="card-title mt-3">Series:</h5>
          <ul>
            <li *ngFor="let item of this.resultCharacter?.series?.items || []">{{item.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>