<form [formGroup]="this.formSearch" (submit)="this.handleSubmitSearch($event)">
  <div class="container mb-4">
    <div class="row justify-content-md-end">
      <div class="col-md-7">
        <div class="input-group">
          <input type="text" class="form-control-lg w-75" placeholder="Character Name" formControlName="keyword">
          <button class="btn btn-outline-secondary w-25" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="this.configPerpage.offset" (scrolled)="this.handleScrolled()">
    <ng-container *ngIf="this.isLoading; else templateResult">
      <div *ngFor="let item of this.makeCardLoading" class="col">
        <app-card-loading></app-card-loading>
      </div>
    </ng-container>
    <ng-template #templateResult>
      <div *ngFor="let item of this.resultCharacters" class="col">
        <app-album-card
          image="{{item.thumbnail.path}}.{{item.thumbnail.extension}}"
          [name]="item.name"
          [description]="item.description"
          [url]="('detail/'+item.id | url: 'urlCharacter')"
          [date]="item.modified"
        ></app-album-card>
      </div>
    </ng-template>
    <ng-container *ngIf="this.isLoadingLoadmore;">
      <div *ngFor="let item of this.makeCardLoading" class="col">
        <app-card-loading></app-card-loading>
      </div>
    </ng-container>
  </div>
</div>